<%- include("../inc/head", { title: 'Home', include_css: 'profile' }) %>

<body>
    <%- include("../inc/topbar.ejs") %>

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">My Account /</span> Profile
        </h4>
        <!-- Header -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="user-profile-header-banner">
                        <img src="../../assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
                    </div>
                    <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                            <img src="<%= user.avatar %>" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
                        </div>
                        <div class="flex-grow-1 mt-3 mt-sm-5">
                            <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                                <div class="user-profile-info">
                                    <h4><%= user.firstName %> <%= user.lastName %></h4>
                                    <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                                        <li class="list-inline-item">
                                            <i class='ti ti-user'></i> <%= user.username %>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class='ti ti-map-pin'></i> <%= user.country %>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class='ti ti-calendar'></i> Joined <%= new Date(user.createdAt).toDateString() %></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-primary">
                                    <i class='ti ti-user-check me-1'></i> Email Verified
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Header -->

        <!-- Navbar pills -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                    <li class="nav-item"><a class="nav-link active" href="/account"><i class='ti-xs ti ti-user-check me-1'></i> Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account/security"><i class='ti-xs ti ti-lock me-1'></i> Security</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account/connections"><i class='ti-xs ti ti-link me-1'></i> Connections</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account/developers"><i class='ti-xs ti ti-code me-1'></i> Developers</a></li>
                </ul>
            </div>
        </div>
        <!--/ Navbar pills -->

        <!-- User Profile Content -->
        <div id="alert_div">
            <div class="alert d-flex align-items-center" id="alert_container" role="alert">
                <span id="alert_icon" class="alert-icon me-2"></span>
                <div id="alert_text"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5">
                <!-- About User -->
                <div class="card mb-4">
                    <div class="card-body">
                        <small class="card-text text-uppercase">About</small>
                        <ul class="list-unstyled mb-4 mt-3">
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-user"></i><span class="fw-bold mx-2">Full Name:</span> <span><%= user.firstName %> <%= user.lastName %></span></li>
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-check"></i><span class="fw-bold mx-2">Account Status:</span> <span>Active</span></li>
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-crown"></i><span class="fw-bold mx-2">User Type:</span> <span><%= user.type %></span></li>
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-flag"></i><span class="fw-bold mx-2">Country:</span> <span><%= user.country %></span></li>
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-file-description"></i><span class="fw-bold mx-2">Preferred Language:</span> <span><%= user.language.toUpperCase() %></span></li>
                        </ul>
                        <small class="card-text text-uppercase">Contacts</small>
                        <ul class="list-unstyled mb-4 mt-3">
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-phone-call"></i><span class="fw-bold mx-2">Phone Number:</span> <span><%= user.phoneNumber %></span></li>
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-mail"></i><span class="fw-bold mx-2">Email:</span> <span><%= user.email %></span></li>
                        </ul>
                    </div>
                </div>
                <!--/ About User -->
                <!-- Profile Overview -->
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text text-uppercase">Developer Overview</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-check"></i><span class="fw-bold mx-2">Active Developer:</span> <span>Yes</span></li>
                            <li class="d-flex align-items-center mb-3"><i class="ti ti-layout-grid"></i><span class="fw-bold mx-2">Applications:</span> <span>1</span></li>
                            <li class="d-flex align-items-center"><i class="ti ti-users"></i><span class="fw-bold mx-2">Active Users:</span> <span>897</span></li>
                        </ul>
                    </div>
                </div>
                <!--/ Profile Overview -->
            </div>

            <!-- Settings Card -->
            <div class="col-xl-8 col-lg-7 col-md-7">
                <div class="card mb-4" id="settings_card">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="<%= user.avatar %>" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar" />
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                                        <span class="d-none d-sm-block">Upload new photo</span>
                                        <i class="ti ti-upload d-block d-sm-none"></i>
                                        <input type="file" id="upload" class="account-file-input" hidden disabled accept="image/png, image/jpeg" />
                                    </label>
                                    <button type="button" class="btn btn-label-secondary account-image-reset mb-3">
                                        <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>
                                    <div class="text-muted">Allowed JPG, GIF or PNG. Max size of 1MB.</div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <form id="formAccountSettings" onsubmit="return false">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="firstName" class="form-label">First Name</label>
                                        <input class="form-control" type="text" id="firstName" name="firstName" value="<%= user.firstName %>" />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="lastName" class="form-label">Last Name</label>
                                        <input class="form-control" type="text" name="lastName" id="lastName" value="<%= user.lastName %>" />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="email" class="form-label">E-mail</label>
                                        <input class="form-control" type="text" id="email" name="email" value="<%= user.email %>"/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="<%= user.phoneNumber %>" placeholder="202 555 0111" />
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="country" class="form-label">Country</label>
                                        <input class="form-control" type="text" id="country" name="country" value="<%= user.country %>"/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="language" class="form-label">Preferred Language</label>
                                        <select id="language" class="select2 form-select" value="<%= user.language %>">
                                            <option value="" id="lang_blank">Select Language</option>
                                            <option value="en" id="lang_en">English</option>
                                            <option value="fr" id="lang_fr">French</option>
                                            <option value="de" id="lang_de">German</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-primary me-2" id="btn-save">Save changes</button>
                                    <button type="reset" class="btn btn-label-secondary">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <!-- /Account -->
                    </div>
                </div>
            </div>
            <!--/ User Profile Content -->
        </div>
    </div>
    <!--/ Content -->

    <%- include("../inc/scripts.ejs") %>
    <script>
        $(() => {
            // alert-danger
            // text-danger
            $('#alert_div').hide();
            $('#alert_text').text('');

            $('[id="lang_<%= user.language %>"').attr('selected', 'selected');
        });

        $('#btn-save').click((e) => {
            e.preventDefault();

            blockCard('#settings_card');

            // reset alert
            $('#alert_div').hide();
            $('#alert_text').text('');
            $('#icon').remove();
            $("#alert_container").removeClass((index, className) => {
                return (className.match(/(^|\s)alert-\S+/g) || []).join(' ');
            });
            $("#alert_text").removeClass((index, className) => {
                return (className.match(/(^|\s)text-\S+/g) || []).join(' ');
            });

            // get form data
            let firstname = $('#firstName').val();
            let lastname = $('#lastName').val();
            let email = $('#email').val();
            let phone = $('#phoneNumber').val();
            let country = $('#country').val();
            let language = $('#language').val();

            // validate form data
            if (firstname == '' || lastname == '' || email == '' || phone == '' || country == '' || language == '') {
                $('#alert_div').show();
                $('#alert_text').text('Please fill in all fields');
                $("#alert_container").addClass('alert-danger');
                $("#alert_text").addClass('text-danger');
                $('<i id="icon" class="ti ti-x ti-xs"></i>').prependTo('#alert_icon');
                unblockCard('#settings_card');
                return;
            }

            // send data to server
            $.ajax({
                url: '/api/account/save',
                type: 'POST',
                data: {
                    firstname,
                    lastname,
                    email,
                    phone,
                    country,
                    language
                },
                success: (data) => {
                    unblockCard('#settings_card');
                    if (data.error) {
                        $('#alert_div').show();
                        $('#alert_text').text(data.error);
                        $("#alert_container").addClass('alert-danger');
                        $("#alert_text").addClass('text-danger');
                        $('<i id="icon" class="ti ti-x ti-xs"></i>').prependTo('#alert_icon');
                        return;
                    }
                    console.log(data);
                    if (!data.changes) {
                        $('#alert_div').show();
                        $('#alert_text').text('Settings saved successfully: no changes made.');
                        $("#alert_container").addClass('alert-success');
                        $("#alert_text").addClass('text-success');
                        $('<i id="icon" class="ti ti-check ti-xs"></i>').prependTo('#alert_icon');
                        return;
                    } else {
                        $('#alert_div').show();
                        $('#alert_text').text('Settings saved successfully: ' + data.changes.length + ' changes made.');
                        $("#alert_container").addClass('alert-success');
                        $("#alert_text").addClass('text-success');
                        $('<i id="icon" class="ti ti-check ti-xs"></i>').prependTo('#alert_icon');
                        return;
                    }
                }
            })
        });
    </script>
</body>